body {
    background:white;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  header {
      background-image: url('https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg');
      width: 100%;
      height: 75vh;
      background-size: cover;
      background-position: center;
      font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      margin-bottom: 60px;

  }
  .header-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 90vw;
    height: 10vh;
    align-items: center;
    margin-bottom: 60px;  
  }
  .company-name-container {
      color:gold;
      font-size: 180%;
      font-family: 'Lucida Handwriting', cursive;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    width: 35vw;
    justify-content: center;
    align-items: center;
  }
  .nav-menu a {
    padding: 20px;
    font-size: 15px;
    color: azure;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .nav-menu a:hover {
    text-decoration: none;
    color:gold;
  }
  h3 {
      color: white;
      font-size: 40px;
      font-style: oblique;
      margin-top: 11%;
      font-weight: 350;
  }
  h1 {
      color: white;
      font-size: 75px;
      text-transform: uppercase;
  }
  #info-btn {
      background-color: gold;
      line-height: 1.5;
      padding: 20px 40px;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 450;
      color: white;
  }
  #info-btn:hover {
      background-color: goldenrod;
  }
  .fas {
      text-align: center;
      background-color: gold;
      border-radius: 50%;
      color: white;
      width: 100px;
      height: 100px;
      line-height: 100px;
      vertical-align: middle;
      padding: 10px;

  }

  #services-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90vw;
  }
  .icon-wrapper {
    margin: 0 auto;
    padding: 30px;
    background-color: gold;
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
  }
  #service-title h1 {
    color: black;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  #service-title {
    margin-bottom: 70px;
  }
  #service-title p {
    color: gray;
    font-style: oblique;
  }
  .service-box p {
    color: gray;

  }
  #portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 90vw;
    padding: 20px;
    margin: 0 auto;
  }
  #portfolio-title h1 {
    color: black;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 90px;
  }
  .portfolio-section {
    background-color: whitesmoke;
    width: 100%;
  }
  .portfolio-box {
    width: 29vw;
    background-color: white;
  }
  .overlay {
    transition: .5s ease;
    opacity: 0;
    display: none;
    position: relative;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  #plus-icon {
   transition: .5s ease;
    opacity: 0;
    display: none;
    position: relative;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .portfolio-box img {
    width: 100%;
  }

  .portfolio-section p {
    color: gray;
    font-style: oblique;
  }
  .about-section {
    display: flex;
    flex-direction: column;
  }
  #about-row {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: center;
    padding-bottom: 10vh;
  }
  .about-box {
    width: 30vw;
    margin: 0 auto;
  }
  .about-section h1 {
    color: black;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 90px;
  }
  .about-section p {
    color: gray;
    font-style: oblique;
  }
  .image-box img {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    border: 7px solid lightgrey
  }
  .text-align-left {
    text-align: left;
  }
  .text-align-right {
    text-align: right;
  }
  .image-box h3 {
    color: white;
    font-size: 30px;
    font-weight: 500;
  }
  .image-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .image-textbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: gold;
    border: 7px solid lightgrey;

  }
  .team-section {
    background-color: whitesmoke;
    width: 100%;
  }
  .about-team h1 {
    color: black;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 90px;
  }
  .about-team p {
    color: gray;
    font-style: oblique;
  }
  #team-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width:90vw;
    margin: 0 auto;
  }
  .team-member img {
    border-radius: 50%;
    border: 7px solid lightgrey;
    width: 40%;
    height: 40%;
  }
  .team-social {
    width:9vw;
    margin: 0 auto;
    font-size: 30px;
    letter-spacing: 5px;
  }
  .team-image p{
    color: rgb(90, 90, 90);
    font-size: 20px;
    
  }
  .team-description {
    flex-wrap: wrap;
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
  }
  .team-image h2 {
    font-size: 30px;
  }
  .contact-title h1 {
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 90px;
  }
  .contact-title  {
    margin-bottom: 70px;
  }
  .contact-form {
    display: flex;
    flex-direction: row;

  }
  .contact-title p {
    color: gray;
    font-style: oblique;
  }
  .contact-section {
    background-image: url('https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png');
    background-color: #212529;
    width: 100vw;
    height: 85vh;
    background-size: contain;
    background-position: center;
  }
  .form-control {
    width: 600px;
    height: 50px;
    flex-direction: row;
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  .wrapper-div {
    display: flex;
    flex-direction: column;
  }
  .message-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    }
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width:85vw;
    margin: 0 auto;
  }
  .footer-icons {
    width:9vw;
    margin: 0 auto;
    font-size: 30px;
    letter-spacing: 5px;
  }
  .send-btn {
    background-color: rgba(255, 217, 0, 0.397);
    line-height: 1.5;
    padding: 20px 40px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 450;
    color: white;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  textarea {
    width: 600px;
    height: 290px;
  }
  .document-links a {
    margin-left: 20px;
  }
  .company-section {
    width:100%;
    margin: 0 auto;
    align-items: center;
  }
  .company-logos img {
    width: 50%;
    height: 20vh;
  }
  .company-logos {
    display: flex;
    width:90vw;
    margin: 0 auto;
  }
  .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.portfolio-box:hover .image {
  opacity: 0.1;
}

.portfolio-box:hover .overlay {
  opacity: 1;
  
}
.portfolio-box:hover .image-wrapper {
  opacity: 1;
}
.portfolio-box:hover #plus-icon  {
  opacity: 1;
  color: white;
}
.image-wrapper {
  background-color: goldenrod;
  
}
.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline-panel {
  margin-left: -70px;
  margin-right: -70px;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 770px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    
    padding: 0 30px 20px 20px;
    text-align: left;
  }
  body > section.contact-section > div.contact-form > form > div.message-box > textarea {
    width: 45vw;
  }  
  .timeline-body {
   width: 40vw;
  }
   .team-social {
    width: 60%;
    margin-bottom: 40px;
  }
  .about-team {
    margin-bottom: 80px;
  }
  .company-logos {
    justify-content: space-evenly;
    height: 100%;
    width: 80vw;
  }
  .company-logos img {
    width: 80%;
  }
  #portfolio-container {
    height: 35vh;
  }
  #team-container {
    flex-direction: column;
    height: 140vh;
  }
  .team-description {
    margin-top: 50px;
  }
  .footer-icons {
    width: 65vw;
    margin-bottom: 10px;
  }
  footer {
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    width: 50vw;
  }
  body > section.contact-section > div.contact-form > form > div.wrapper-div > input{
    width: 35vw;
  }
}
.portfolio-section-mobile {
  display: none;
}
@media (min-width: 990px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    width: -80vw;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {  
    width: 77vw;
  }
   .nav-menu {
   width: 50vw;
  }
  .timeline-body {
   width: 40vw;
  }
  .spacing-div {
    margin-left: 40px;
  }
   .team-social {
    width: 60%;
    margin-bottom: 40px;
  }
  .about-team {
    margin-bottom: 80px;
  }
  .company-logos {
    justify-content: space-evenly;
    height: 100%;
    width: 80vw;
  }
  .company-logos img {
    width: 65%;
  }
  #team-container {
    flex-direction: column;
    height: 140vh;
  }
  .team-description {
    margin-top: 50px;
  }
  .footer-icons {
    width: 65vw;
    margin-bottom: 10px;
  }
  footer {
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    width: 30vw;
  }
  body > section.contact-section > div.contact-form > form > div.wrapper-div > input{
    width: 35vw;
  }
  body > section.contact-section > div.contact-form > form > div.message-box > textarea {
    width: 45vw;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 65px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 60px 20px 20px;
  }
  .team-social {
    width: 60%;
  }
  .footer-icons {
    width: 15vw;
  }
  body > section.contact-section > div.contact-form > form > div.wrapper-div > input{
    width: 35vw;
  }
  body > section.contact-section > div.contact-form > form > div.message-box > textarea {
    width: 45vw;
  }
}

@media (min-width: 1400px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px; 
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 70px 20px 20px;
  }
}
.rounded-circle {
  border-radius: 50% !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}